form {
  border: none;
  position: sticky;
  align-self: left;
  margin-top: 3%;
  margin-left: -10vw;
  display: flex;
  flex-flow: column;
  min-width: 50vw;
  min-height: fit-content;
  max-width: max-content;
  max-height: fit-content;
  text-align: justify;
  align-items: center;
}

.bigButt {
  border-radius: 10%;
  border: .1rem solid lightgray;
  font-weight: bold;
  font-size: 1em;
  color: rgb(17, 11, 11);
  margin-right: 25%;
  margin-left: 25%;
  height: 3vh;
  min-width: fit-content;
  max-width: max-content;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

.numattrcont {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  /* flex-flow: column wrap; */
  width: fit-content;
}

.numattr {
  width: fit-content;
  align-items: center;
  margin: 1vw;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.textattr {
  min-width: fit-content;
  max-width: max-content;
  display: flex;
  flex-flow: column wrap;
}

.textinput {
  min-width: fit-content;
  max-width: max-content;
}

.textareacont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1px;
  align-content: stretch;
  min-width: fit-content;
  max-width: max-content;

}

.abilities,
.backstory {
  width: 100%;
}

input {
  min-width: fit-content;
  max-width: max-content;
  flex: 1;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(min(calc(180px + 12vmin), 100%), 1fr));
  text-align: center;
}

header {
  width: 100vw;
}

.userHomeMain {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto
}

.makestuffnav {
  background: lightgray;
  grid-column: 1/1;
  height: 100vh;
  width: 50%;
  justify-content: space-evenly;
}

.makebuttons {
  border-radius: 10%;
  border: .1rem solid lightgray;
  font-weight: bold;
  font-size: .8em;
  color: rgb(17, 11, 11);
  margin: 1rem;
  margin-left: -1%;
  justify-items: stretch;
  height: max-content;
  width: fit-content;
}

.mylist {
  border: none;
  grid-column: 1 / 2;
  display: flex;
  flex-flow: column wrap;
  grid-auto-columns: minmax(2vw, auto);
  grid-auto-rows: minmax(3vw, auto);
  grid-gap: 1vw;
  margin-left: -5vw;
}

.placeholder {
  /* border: 2px solid green; */
  grid-column: 3 / 3;
  grid-row: 1/1;
}
