.main-body {

  font-family: system-ui;
  width: 60vw;
  text-align: justify;

}

.linksdiv {
  padding-left: 1vw;
  padding-right: 1vw;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.heading {

  color: cadetblue;
  flex: 1;
  width: fit-content;
  margin: 1%
}

.contactlinks {
  text-decoration: none;
  color: cadetblue;
  flex: 1;
  width: fit-content;
  margin: 1%
}
