.main-body {
  text-align: center;
}



form {
  margin-top: 15%;
  border: 2px black solid;

}

.input-cont {
  display: flex;
  flex-flow: row wrap;
}

.button-cont {
  display: flex;
  flex-flow: row wrap;
}

input {
  flex: 1;
}

button {
  flex: 1;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}
