.userHomeMain {
  display: grid;

  width: 50vw;
  grid-template: auto 100vh auto / auto 100vw auto;
}

.makestuffnav {
  border: 5px solid lightgray;
  background-color: lightgray;
  grid-column: 1/2;
  height: 100vh;
  width: fit-content;
  justify-content: space-evenly;
}

.makebuttons {
  border-radius: 10%;
  border: none;
  box-shadow: 0 2px 2px ghostwhite;
  font-weight: bold;
  font-size: .6em;
  color: rgb(17, 11, 11);
  margin: .1rem;
  height: 2vh;
  width: 2vw;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: justify;
  width: fit-content;
  margin-bottom: 1vh;
}

li {
  margin-bottom: 2%;
  flex: 1;
  width: fit-content;
}

.mychars {
  position: fixed;
  margin-left: 0;
  grid-row: 3/2;
  grid-column: 2/3;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  max-height: 90vh;
  max-width: fit-content;
}

h3 {
  position: sticky;
  align-self: center;
  margin: 1%;
  width: 20vw;
  text-align: justify;
}

.characterdiv {
  font-size: 1rem;
  min-width: 2vw;
  min-height: 2vh;
  border: 3px solid lightgray;
  border-radius: 4px;
  margin: .4vw;
  padding: .1vw;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column wrap;
  flex: 1;
  color: #5d5e5e;
}
