.main-nav {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-evenly;
}

.nav-item {
  color: cadetblue;
  flex: 1;
}

Link:visited {
  color: cornflowerblue;
}

Nav {
  border: 5px black solid;
  background-color: lightgray;
}
